.page {
    background-color: #1e1e1e;
    color: #cfcfcf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.page ul {
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

.page li {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.page a {
    color: #007acc;
    text-decoration: none;
}

.page a:hover {
    text-decoration: underline;
}

.downloadButton {
    margin-left: 10px;
    color: #007acc;
    text-decoration: none;
}

.downloadButton:hover {
    color: #005f99;
}

.card {
    background-color: gray;
    margin-bottom: 5px;
    padding: 10px;
}