.containerSession {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5); /* Tinted black glass effect */
    border-radius: 15px;
    padding: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: fit-content;
    max-width: 300px; /* Smaller max-width */
    margin-left: auto;
    margin-right: 30px;
    text-align: center;
  }

.containerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: fit-content;
  max-width: 300px;
  margin: 20px 20px 0 auto;
  text-align: center;
}
  
  .imgContainer {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  .img {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    width: 50px; /* Smaller profile picture */
    height: 50px;
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
    color: white;
    flex-grow: 1;
    overflow: hidden;
    padding: 0 10px; 
  }
  
  .userInfo p {
    margin: 0;
    font-size: 0.9rem; /* Smaller text */
    line-height: 1.2rem;
  }
  
  .email {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px; /* Limit email to prevent overflow */
  }
  
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 5px 10px; /* Smaller button */
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .button:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .iconButton {
    background-color: #4284f4;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 10px;
  }
  
  .iconButton:hover {
    transform: scale(1.1);
  }
  
  .iconButton svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
  